.digit-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 220px; 
    margin: 5px;
    background: radial-gradient(lightgrey 1%, #535353);; 
    border: 2px solid #000000; 
    border-radius: 20px; 
    font-size: 2em; 
  }